@model DataLayer.DomainModel.tbTelegramUsers

@using V2boardApi.Tools;
<div class="modal-content">
    <div class="modal-body">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">شارژ کیف پول</h4>
                    <form class="form-sample">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <input type="text" class="form-control" name="Wallet" id="Wallet" value="@Model.Tel_Wallet.Value">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="SaveChange(this)">ذخیره</button>
        <button type="button" class="btn btn-dark close" data-dismiss="modal">بستن</button>
    </div>
</div>

<script>
    $(".close").click(function () {
        $('.modal').modal('hide');

    });

    function SaveChange(input) {
        debugger
        var wallet = $("input[name='Wallet']").val();

        if (wallet >= 0 && wallet!="") {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("EditWallet", "TelegramUsers",new {area="App"})",
                type: "Post",
                data: { wallet: wallet, id: '@Model.Tel_UserID' },
                datatype: "html",
                success: function (res) {
                    $("#loading").css("display", "none");
                    if (res == "1") {
                        Swal.fire({
                            title: "شارژ کیف پول",
                            text: "با موفقیت انجام شد",
                            icon: "success"
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else {
                        $("#loading").css("display", "none");
                        Swal.fire({
                            title: "خطا",
                            text: "خطا در برقراری ارتباط با سرور",
                            icon: "error"
                        });
                        return;
                    }
                }
            });
        }
        else {
            $("#loading").css("display", "none");
            Swal.fire({
                title: "خطا",
                text: "لطفا مبلغی جهت کسر از کیف پول وارد کنید",
                icon: "error"
            });
            return;
        }

    }

</script>