@model DataLayer.DomainModel.tbTelegramUsers

<div aria-hidden="true" class="modal fade" id="editWallet" tabindex="-1">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">تنظیمات حساب</h3>
                </div>
                <form class="row g-3" id="editWalletForm" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="" name="user_id" id="user_id" />
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 me-2">
                            <label class="form-label" for="Deposit">کیف پول</label>
                            <input class="form-control" id="Deposit" name="userDeposit" placeholder="3,000,000" type="text" onkeyup="separateDigits(this)" value="@V2boardApi.Tools.Utility.ConvertToMony(Model.Tel_Wallet.Value)" />
                        </div>
                        <div class="text-center">
                            <label class="form-label d-block">&nbsp;</label>
                            <button class="btn btn-label-info" id="ZeroWallet" type="button">صفر</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-primary me-sm-3 me-1" type="button" id="SaveDeposit">ثبت</button>
                        <button aria-label="بستن" class="btn btn-label-secondary" data-bs-dismiss="modal" type="reset">لغو</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>