<div class="modal-content">
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">پیغام</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <textarea class="form-control" id="Message" rows="8"></textarea>
                    </div>
                    <button class="btn btn-dark close">بستن</button>
                    <button type="button" class="btn btn-success me-2" onclick="SendPublicMessage()">ارسال</button>
                </form>
            </div>
        </div>
        </div>
</div>

<script>
    $(".close").click(function () {
        $('.modal').modal('hide');

    });


    function SendPublicMessage() {

        var Message = $("#Message").val();
        if (Message.length >= 3) {
            Swal.fire({
                title: "آیا مطمئن هستید بعد از تائید پیغام برای همه ارسال می شود",
                showDenyButton: true,
                confirmButtonText: "بله",
                denyButtonText: `خیر`
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#loading").css("display", "flex");
                    $.ajax({
                        url: "@Url.Action("SendPublicMessage","TelegramUsers",new {area="App"})",
                        type: "Post",
                        dataType: "html",
                        data: { message: Message },
                        success: function (res) {
                            $("#loading").css("display", "none");
                            if (res == "1") {
                                Swal.fire("پیغام با موفقیت برای همه ارسال شد", "", "success");
                            }
                            else {
                                Swal.fire("ارسال پیغام همگانی با خطا مواجه شد", "", "error");
                            }
                        }
                    });

                }
            });
        }
        else {

        }


    }


</script>