@section vendorStyle {
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/@form-validation/form-validation.css")" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />
}

@*<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>مجموع کاربران</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">21,459</h3>
                            <p class="text-success mb-0">
                                <bdi>(+29%)</bdi>
                            </p>
                        </div>
                        <p class="mb-0">آمار هفته قبل</p>
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-primary"> <i class="ti ti-user ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>کاربران وفادار</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">4,567</h3>
                            <p class="text-success mb-0">
                                <bdi>(+18%)</bdi>
                            </p>
                        </div>
                        <p class="mb-0">آمار هفته قبل</p>
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-danger"> <i class="ti ti-user-plus ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>کاربران فعال</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">19,860</h3>
                            <p class="text-danger mb-0">
                                <bdi>(-14%)</bdi>
                            </p>
                        </div>
                        <p class="mb-0">آمار هفته قبل</p>
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-success"> <i class="ti ti-user-check ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>کاربران مسدود</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">237</h3>
                            <p class="text-success mb-0">
                                <bdi>(+42%)</bdi>
                            </p>
                        </div>
                        <p class="mb-0">آمار هفته قبل</p>
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-warning"> <i class="ti ti-user-exclamation ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Users List Table -->
<div class="card">
    @*<div class="card-header border-bottom">
            <h5 class="card-title mb-3">فیلتر جستجو</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0 mt-3">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>*@
    <div class="card-datatable table-responsive">
        <table class="datatables-users table">
            <thead class="border-top">
                <tr>
                    <th></th>
                    <th>کاربر</th>
                    <th>کیف پول</th>
                    <th>جمع خرید</th>
                    <th>وضعیت</th>
                    <th>دعوت شده ؟</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section vendorScripts {

    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/popular.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/bootstrap5.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/auto-focus.js")"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

}

@section customScripts {

    <script src="../../assets/js/app-user-telegram-list.js"></script>
    <script src="~/assets/vendor/libs/jquery-form/jquery.form.js"></script>

}