@section vendorStyle{

    <link href="../../assets/vendor/libs/node-waves/node-waves.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/typeahead-js/typeahead.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/@form-validation/form-validation.css")" />
}

<h4 class="py-3 mb-4">
    فاکتور ها
</h4>
<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-plan table">
            <thead>
                <tr>
                    <th></th>
                    <th>کاربر</th>
                    <th>تاریخ</th>
                    <th>وضعیت</th>
                    <th>مبلغ</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section vendorScripts {


    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/i18n/fa.js"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/block-ui/block-ui.js"></script>
    <!-- Form Validation -->
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/popular.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/bootstrap5.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/auto-focus.js")"></script>


}

@section customScripts {

    <script src="../../assets/js/app-botfactores-list.js"></script>

}