@model List<DataLayer.DomainModel.tbUserFactors>


@using V2boardApi.Tools;

<h4 class="card-title">لیست پرداختی ها</h4>
<table class="table" id="tableFactor" style="width:100%;direction:ltr;">
    <thead>
        <tr>
            <th>مبلغ پرداختی</th>
            <th>تاریخ پرداخت</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.tbUf_Value.Value.ConvertToMony()</td>
                <td>@item.tbUf_CreateTime.Value.ConvertDateTimeToShamsi2()</td>

            </tr>
        }
    </tbody>
</table>
<script>
    ConvertToDataTable("#tableFactor", 0, []);
</script>