@model List<DataLayer.DomainModel.tbPlans>

<select class="js-example-basic-multiple" id="Select2Plans" name="states[]" multiple="multiple">
    @foreach (var item in Model)
    {
        <option value="@item.Plan_ID">@item.Plan_Name</option>
    }
</select>

<script>
    $(document).ready(function () {
        $('#Select2Plans').select2({
            dropdownParent: $('.modal-content'),
            width: '75%',
            placeholder: 'Search Plan',
        });

    });
</script>