@section vendorStyle{

    <link href="../../assets/vendor/libs/node-waves/node-waves.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/typeahead-js/typeahead.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/libs/flatpickr/flatpickr.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/@form-validation/form-validation.css")" />
}
@{
    var Role = Request.Cookies["Role"].Value;
}

<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <button style="z-index:1; float: left; margin-top: 16px; margin-left: 17px;" class="btn btn-secondary add-new btn-primary waves-effect waves-light" tabindex="0" data-bs-target="#modalgroup" data-bs-toggle="modal" type="button"><span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block" id="btnAddPlan">افزودن</span></span></button>
        <button data-bs-toggle="popover" title="لیست دسته بندی ها را از V2board می آورد" style="z-index:1; float: left; margin-top: 16px; margin-left: 17px;" class="btn add-new btn-outline-info waves-effect waves-light" tabindex="0" type="button" id="updategroup"><span><i class="ti ti-refresh me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">بروزرسانی دسته بندی ها</span></span></button>
        <table class="datatables-plan table">
            <thead>
                <tr>
                    <th></th>
                    <th>آیدی</th>
                    <th>دسته بندی</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Modal -->
<div aria-hidden="true" class="modal fade" id="modalgroup" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content section-block">
            <div class="modal-header">
                <h5 class="modal-title" id="modalgroupTitle">افزودن دسته بندی جدید</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <form id="groupForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="groupName">عنوان دسته بندی</label>
                            <input class="form-control" id="groupName" name="groupName" placeholder="عنوان دسته بندی وارد کنید" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                    <button class="btn btn-primary" type="submit">ذخیره</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" class="modal fade" id="modalgroupEdit" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content section-block">
            <div class="modal-header">
                <h5 class="modal-title" id="modalgroupEditTitle">ویرایش دسته بندی</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <form id="groupEditForm">
                <input type="hidden" id="ID" name="ID" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="groupName">عنوان دسته بندی</label>
                            <input class="form-control" id="groupName" name="groupName" placeholder="عنوان دسته بندی وارد کنید" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                    <button class="btn btn-primary" type="submit">ذخیره</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section vendorScripts {


    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/i18n/fa.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <!-- Flat Picker -->
    <!-- Form Validation -->
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/popular.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/bootstrap5.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/auto-focus.js")"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/block-ui/block-ui.js"></script>

}

@section customScripts {

    <script src="../../assets/js/app-server-groups.js"></script>
    @*<script>
            $("#btnAddPlan").click(function () {

                console.log("clicked");
                document.getElementById('planForm').reset();

            });
        </script>

        <script>

            // اضافه کردن یک event listener برای رویداد hidden.bs.offcanvas
            var offcanvasElement = document.getElementById('offcanvasAddUser');
            offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
                console.log('Offcanvas has been closed.');
                // اینجا تابع مورد نظر خود را فراخوانی کنید
                document.getElementById('planForm').reset();

                $("input[type='hidden']").val("0");


            });




        </script>*@


}