@model DataLayer.DomainModel.tbServers
<div class="card">
    <div class="card-body">
        <h4 class="card-title">تنظیمات ربات</h4>
        <hr />
        <form class="forms-sample">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputUsername1">آیدی ربات <span class="text-danger">*</span></label>
                        <input type="text" dir="ltr" class="form-control" id="BotId" placeholder="darkbaz_bot" value="@Model.Robot_ID">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputUsername1">توکن ربات <span class="text-danger">*</span></label>
                        <input type="text" dir="ltr" class="form-control" id="BotToken" placeholder="541546886:AAEGRExB-MCyT3N4DYU0545Rc3j458aAc" value="@Model.Robot_Token">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">شناسه کاربری تلگرام ادمین <span class="text-danger">*</span></label>
                    <input type="text" dir="ltr" class="form-control" id="TelegramUserId" placeholder="65845695212" value="@Model.AdminTelegramUniqID">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">آیدی کانال </label>
                    <input type="text" dir="ltr" class="form-control" id="ChannelId" placeholder="darkbaz_site" value="@Model.Channel_ID">
                </div>
            </div>
            <button type="button" id="SaveBotInfo" class="btn btn-gradient-success me-2 float-start">ذخیره</button>
        </form>
        <span class="text-info text-small">نکته : برای دریافت شناسه کاربری تلگرام به ربات getmyid_bot مراجعه کنید</span>
    </div>
</div>