@model DataLayer.DomainModel.tbUsers
<div class="row g-4 mb-4">
    @{
        var mony = Model.Limit - Model.Wallet;
    }
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>موجودی کیف پول</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">@V2boardApi.Tools.Utility.ConvertToMony(mony.Value) تومان</h3>
                            @*<p class="text-success mb-0">
                                    <bdi>(+29%)</bdi>
                                </p>*@
                        </div>
                        @*<p class="mb-0">آمار هفته قبل</p>*@
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-primary"> <i class="ti ti-moneybag ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>محدودیت</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">@V2boardApi.Tools.Utility.ConvertToMony(Model.Limit.Value) تومان</h3>
                            @*<p class="text-danger mb-0">
                                    <bdi>(-14%)</bdi>
                                </p>*@
                        </div>
                        @*<p class="mb-0">آمار هفته قبل</p>*@
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-success"> <i class="ti ti-line-height ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>بدهی</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2">@V2boardApi.Tools.Utility.ConvertToMony(Model.Wallet.Value) تومان</h3>
                            @*<p class="text-success mb-0">
                                    <bdi>(+42%)</bdi>
                                </p>*@
                        </div>
                        @*<p class="mb-0">آمار هفته قبل</p>*@
                    </div>
                    <div class="avatar"> <span class="avatar-initial rounded bg-label-warning"> <i class="ti ti-cash ti-sm"></i> </span> </div>
                </div>
            </div>
        </div>
    </div>
</div>