@model List<V2boardApi.Areas.App.Data.PlanViewModels.PermissionsViewModel>
<select class="js-example-basic-multiple" id="Select2Permissons" name="states[]" multiple="multiple">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>

<script>
    $(document).ready(function () {
        $('#Select2Permissons').select2({
            dropdownParent: $('.modal-content'),
            width: '75%',
            placeholder: 'Search Permisson',
        });

    });
</script>