@section vendorStyle{

    <link href="../../assets/vendor/libs/node-waves/node-waves.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/typeahead-js/typeahead.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet" />
    <link href="../../assets/libs/flatpickr/flatpickr.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/@form-validation/form-validation.css")" />
}
@{
    var Role = Request.Cookies["Role"].Value;
}

<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <button style="z-index:1; float: left; margin-top: 16px; margin-left: 17px;" class="btn btn-secondary add-new btn-primary waves-effect waves-light" tabindex="0" data-bs-toggle="offcanvas" data-bs-target="#Add-Or-EditPlan" type="button"><span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block" id="btnAddPlan">افزودن</span></span></button>
        @if (Role == "1")
        {
            <button data-bs-toggle="popover" title="لیست تعرفه ها را از V2board می آورد" style="z-index:1; float: left; margin-top: 16px; margin-left: 17px;" class="btn add-new btn-outline-info waves-effect waves-light" tabindex="0" type="button" id="updatePlan"><span><i class="ti ti-refresh me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">بروزرسانی تعرفه</span></span></button>

        }
        <table class="datatables-plan table">
            <thead>
                <tr>
                    <th></th>
                    <th>نام تعرفه</th>
                    <th>مدت زمان (ماه)</th>
                    <th>ترافیک (گیگابایت)</th>
                    <th>قیمت</th>
                    <th>محدودیت سرعت</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end section-block" id="Add-Or-EditPlan">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">اطلاعات تعرفه</h5>
        <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="planForm">
            <input type="hidden" name="id" value="" id="planId" />
            <div class="col-sm-12">
                <label class="form-label" for="basicFullname">نام تعرفه</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicFullname2">
                        <i class="ti ti-pencil-minus"></i>
                    </span>
                    <input aria-describedby="basicFullname2" aria-label="30 گیگ یک ماهه" class="form-control dt-full-name" id="planName" name="planName" placeholder="30 گیگ یک ماهه" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicPost">ترافیک (گیگ)</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicPost2">
                        <i class="ti ti-broadcast"></i>
                    </span>
                    <input aria-describedby="basicPost2" aria-label="50" class="form-control dt-post" id="planTraffic" name="planTraffic" placeholder="50 گیگ" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">مدت زمان</label>
                <select id="planTime" class="select2 form-select" autocomplete="off" name="planTime">
                    <option value="1">1 ماه</option>
                    <option value="2">2 ماه</option>
                    <option value="3">3 ماه</option>
                    <option value="4">4 ماه</option>
                    <option value="5">5 ماه</option>
                    <option value="6">6 ماه</option>
                </select>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">قیمت</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicSalary2">ءتء</span>
                    <input onkeyup="separateDigits(this)" aria-describedby="basicSalary2" aria-label="12000" class="form-control dt-salary" id="planPrice" name="planPrice" placeholder="12000" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">محدودیت سرعت (مگابیت)</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicPost2">
                        <i class="ti ti-access-point"></i>
                    </span>
                    <input aria-describedby="basicSalary2" aria-label="12000" class="form-control dt-salary" id="planSpeed" name="planSpeed" placeholder="20" type="number" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">محدودیت کاربر ( حداکثر 20 )</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicPost2">
                        <i class="ti ti-users-group"></i>
                    </span>
                    <input aria-describedby="basicSalary2" aria-label="12000" class="form-control dt-salary" id="planDevicelimit" name="planDevicelimit" placeholder="20" type="number" max="20" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">دسته بندی</label>
                <select id="planGroup" class="select2 form-select" autocomplete="off" name="planGroup">
                    <option value="-1">در حال بارگزاری ...</option>
                </select>
            </div>

            @if (Role == "1")
            {
                <div class="col-sm-12">
                    <div class="form-check form-check-flat form-check-success" style="margin-bottom: 41px; margin-top: 10px;">
                       <label class="form-check-label">
                            تعرفه نامحدود است ؟ <i class="input-helper"></i> <input type="checkbox" class="form-check-input" id="UnlimitedPlan" name="UnlimitedPlan">
                       </label>
                    </div>
                </div>
            }

            <div class="col-sm-12">
                <button class="btn btn-primary data-submit me-sm-3 me-1" type="submit">ثبت</button>
                <button class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" type="reset">لغو</button>
            </div>
        </form>
    </div>
</div>
<!--/ DataTable with Buttons -->


@section vendorScripts {


    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/i18n/fa.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <!-- Flat Picker -->
    <!-- Form Validation -->
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/popular.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/bootstrap5.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/auto-focus.js")"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/block-ui/block-ui.js"></script>

}

@section customScripts {

    <script src="../../assets/js/app-plan-list.js"></script>
    <script>
        $("#btnAddPlan").click(function () {

            console.log("clicked");
            document.getElementById('planForm').reset();

        });
    </script>

    <script>

        // اضافه کردن یک event listener برای رویداد hidden.bs.offcanvas
        //var offcanvasElement = document.getElementById('offcanvasAddUser');
        //offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
        //    console.log('Offcanvas has been closed.');
        //    // اینجا تابع مورد نظر خود را فراخوانی کنید
        //    document.getElementById('planForm').reset();

        //    $("input[type='hidden']").val("0");


        //});


        $(function () {

            $("#planGroup").wrap('<div class="position-relative"></div>').select2({
                placeholder: 'انتخاب دسته بندی',
                dropdownParent: $("#planGroup").parent(),
                allowClear: false
            });

            Groups("#planGroup");


            $("#planTime").wrap('<div class="position-relative"></div>').select2({
                placeholder: 'انتخاب مدت زمان',
                dropdownParent: $("#planTime").parent(),
                allowClear: false
            });

            

        });

        function Groups(selectId) {
            var $select = $(selectId);
            $.ajax({
                url: "/App/ServerGroups/GetSelectUserGroups",
                type: "get",
                dataType: "json",
                async: true,
                success: function (res) {
                    console.log(res);
                    // پاک کردن گزینه‌های قبلی
                    $select.empty();

                    // افزودن گزینه‌های جدید
                    $.each(res.data, function (index, item) {
                        var newOption = new Option(item.GroupName, item.ID, false, false);
                        $select.append(newOption);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + status + " " + error);
                }
            });

        }

    </script>
}